# Prerequisites
*.d
CMakeLists.txt.user
*build-*
*.project.*
PlcFunctions.Device.Sim*
QtCreatorDeployment.txt
*.Application.*
*.opt*
*.library.~u 
*.precompilecache
 
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ldb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
